.container {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    align-items: center;
}

.stateContainer {
    border: 1px solid var(--color-border);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: var(--shadow-secondary);
}

.state {
    font-size: 1.3rem;
    border-bottom: 1px solid var(--color-border);
    width: 100%;
    padding: .7vw 1vw;
    text-align: center;
}

.description {
    padding: 1vw;
    opacity: 0.8;
}

.actions {
    display: flex;
    gap: 1vw;
    flex-wrap: wrap;
}